main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 35% 70% ;
  grid-template-areas: "model-def log" "main-sim main-sim" "cashier sim-details";
  background-color: #fff;
}


#config-container {
  grid-area: model-def;
}

#log-container {
  grid-area: log;
  overflow-y: scroll;
  height: 250px;
  margin-left: 20px;
}

#main-sim-container {
  grid-area: main-sim;
}

#cashier-container {
  grid-area: cashier;
}

#config-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px auto;
  grid-area: auto;
}

#algo-progress-bar {
  height: 24px;
  width: 1%;
  background-color: green;
  margin-top: 10px;
  z-index: 0;
}

#progress-bar-label {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 24px;
  text-align: center;
  margin-top: 3px;
  /*border: 2px green solid;*/
}

#support-sim-info-container {
  grid-area: sim-details;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.total_cost_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  width: 100%;
  height: 50px;
}

.total-costs-entry {
  background-color: cadetblue;
  margin-left: 5px;
  width: 90px;
}

.total-costs-value {
  background-color: antiquewhite;
  width: 90px;
  height: 30px;
  display: block;
}

.total-costs-index {
  background-color: cadetblue;
  width: auto;
  height: 20px;
  display: block;
}

#log-container > span {
  display: block;
}

.old_row {
  opacity: 0.5;
}
